body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-menu{
    width: 700px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    animation: loading 5s ease infinite;
}

@keyframes loading{
    100%{
        background-color: red;
    }
}